@font-face {
    font-family: Norse;
    src: url('./font/Norse-Bold.otf');
}

body {
    height: 100vh;
    width: 100vw;
} 

.flex-container {
    display: flex;
}

/* Left section with banner and Odin Logo */

.left-section {
    width: 40vw;
    height: 100vh;
}

.image > img {
    width: 40vw;
    height: 100vh;
    object-fit: cover;
}

.odin-image > img {
    width: 8vw;
    height: 10vh;
    object-fit: contain;
}

.media {
    position: absolute;
    top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 15vh;
    background-color: black;
    opacity: 0.6;
}

.media > p {
    color: white;
    font-family: Norse;
    font-size: 80px;
}

.recognition {
    color: white;
    position: absolute;
    bottom: 1px;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recognition > a {
    color: inherit;
}


/* End left section  */

/* Begin Right section */

.right-section {
    display: flex;
    flex-direction: column;
}

.section {
    padding-left: 25px;
}

.call-to-action {
    background-color: rgb(228, 225, 225);
    padding-top: 80px;
    padding-bottom: 50px;
    height: 100px;
    font-weight: bold;
}

     /* Input section */

.form-section {
    width: 100%;
}     
    

form {
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-section p {
    font-weight: bold;
    font-size: larger;
    padding-right: 400px;
    flex-basis: 300px;
} 

.wrapper {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding-right: 100px;
    padding-bottom: 20px;
}



     /* End Input section */

.form-section {
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.account {
    flex: 1;
    padding-top: 30px;
    background-color: rgb(228, 225, 225);
    box-shadow: inset 0px 2px 8px rgb(114, 113, 113); /* Box shadow property to blur border */
}

.btn {
    border-radius: 6px;
    background-color: rgb(36, 78, 36);
    border: none;
    color: white;
    padding: 10px 30px 10px 30px;
}

input {
    border-radius: 4px;
    height: 20px;
    border-width: 1px;
    
}

input:focus {
    border: blue;
}

.account a:link {
    text-decoration: none;
    color: rgb(36, 78, 36);
}
/* End Right section */